#formAfegir {
    text-align: left;
    margin: 0 auto;
    width: 380px;
    background-color: #fff;
    padding: 25px 60px;
    border-radius: 6px;
}

.inpAfegir {
    float: right;
    background-color: #3f3e3e;
    color:#fff;
}
#edat{
  position: relative;
}
#nom,#cognom1,#cognom2,#inp_tdEdat,#telefon{
  font-family:Arial,Verdana;
  font-size:16px;
  border: 0px;
  padding:4px;
}

#nom:focus,#cognom1:focus,#cognom2:focus,#inp_tdEdat:focus,#telefon:focus{

}

#telefon{
  margin-top:-10px;
}

#formAfegir label{
  font-size:1.0em;
  font-weight:bold;
}

.btnAfegir{
  margin: 0px;
  text-align: center;
}

.btn {
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    background-color: #444444;
    color: #fff;
    min-width: 155px;
    min-height: 35px;
    margin-top: 25px;
}
