#calendari{
	width: 260px;
	background-color: #d1d1d1;
	border: 1px solid;
	position: absolute;
	z-index: 1;
	top: 30px;
	max-height: 205px;
}
#mesos {
	background-color: steelblue;
  border-bottom: 1px solid #000;
	color: #fff;
  width: 100%;
  height: 27px;
  padding-top: 5px;
}
#mes {
  display: inline-block;
  padding-left: 30px;
  padding-top: 3px;
}
#dataMes {
    width: 85px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#any {
	width: 55px;
	color: #fff;
  border: 0px;
  margin-top: 4px;
	margin-right: 10px;
	float: right;
	padding: 0px;
	background-color: inherit;
}
#setmanes{
	display: table;
	text-align: center;
	margin: 0 auto;
	    margin-top: 10px;
	width: 100%;
}
#setmana {
	display: table-row;
}
.dia, #dia{
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}
.estils{
	margin: 0 auto;
	text-align: center;
	margin-top:20px;
}
