/*HTML*/
section {
    margin: 0 auto;
    width: 45em;
}

/*Nav*/
#nav {
    position: relative;
    font-weight: bold;
    width: 100%;
    height: 30px;
}
#nav p{
  position: absolute;
  top: 0px;
  margin: 0;
}
.addCont{
  left: 0px;
}
.filtrCont{
  left: 130px;
}
.numCont {
    position: absolute;
    right: 0px;
    margin: 0;
}
.cercaBox{
left: 230px;
}

#nav img{
  height: 25px;
  width: 25px;
  padding: 0;
}
.addCont {
    display: inline;
}
.addCont img{
  float:left;
  padding-top: 5px;
}
.addCont span {
    float: left;
    padding-top: 4px;
}

#buscaicono{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	position:absolute;
	margin-left:-25%;
}

/*Llista contactes*/
#contactes {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}
.taulaContactes {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-collapse:collapse; border: none;
}
.taulaContactes tr {
    border: 2px solid #d1d1d1;
    height: 40px;
}
.detCont{
	background-color:#3f3e3e;
	color:#fff;

}
.detCont th{
    padding: 10px;
    margin: 0px;
    border: 0px;
}
#contactes li{
  display: inline;
}

.taulaContactes input{
  max-width: 85px;
}
#bSortir{
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
  background-color: #444444;
  color: #fff;
  min-width: 180px;
  min-height: 40px;
}
div.paginacio a{
  background-color: #ebf1f1;
  border: 2px solid #cbd7d8;
  color: #394a59;
  margin-right: 3px;
  padding: 2px 6px;
}

div.paginacio a:active{

  color:red;
}
div.paginacio a:hover{
  background-color:#000000;
  color:#ffffff;
}

ul{
  height:40px;
}

#inpBuscar {
    position: absolute;
    left: 265px;
}
.ordenarimg{
  width: 16px;
  height: 16px;
}
.tdEdat{
  position: relative;
}
