@import url('https://fonts.googleapis.com/css?family=Galada');
@import url('https://fonts.googleapis.com/css?family=Allerta');
h1 {
    font-family:'Galada', sans-serif, Arial, Verdana;
    color: #3f3e3e;
    font-size: 48px;
    margin: 0 auto;
    padding: 0 px;
}
body{
  background-color: #d1d1d1;
  /*font-family: 'Allerta', sans-serif;*/
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #3f3e3e;
  margin: 0px;
  padding: 0px;
}

h1 {
    font-family: galada;
    color: #3f3e3e;
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
}
a, a:hover {
  text-decoration: underline;
  text-decoration:none;
  font-weight:bold;
  color:#3f3e3e;
}
#calendari {
    width: 300px;
    height: 300px;
    z-index: -1;
    position: absolute;
}
