section{
  margin: 0 auto;
}

.login{
  background-color:#fff;
  margin:0 auto;
  width:350px;
  text-align:center;
  padding:24px;
  -moz-border-radius:10px; /* Firefox */
  -webkit-border-radius:10px; /* Chrome-Safari */
}

.login img{
  width: 42px;
  float:left;
}

.login p{
  margin:8px;
}

#user, #pass{
  font-size: 16px;
  border: 1px solid #000;
  padding:7px;
  margin-top:7px;
  line-height:20px;
}

#pass:focus,#user:focus{
  background-color:#ffdead;
}

a{
  background-color:#3f3e3e;
  color:#fff;
  display:block;
  text-align:center;
  font-weight:bold;
  line-height:35px;
  width:82%;
  margin-left:12%;
  text-decoration:none;
}
